body {
    margin: 0;
    background-color: rgb(187, 192, 197);
}

/*----- index.html styling -----*/

.movie-overview {
    background-color: darkcyan;
    height: 80vh;
}

.latest-movie {
    height: 30%;
    background-color: aquamarine;
    padding: 0;
    border-radius: 12px;
}

.movie-list {
    height: 55%;
    background-color: aquamarine;
    overflow-y: scroll;
}

.movie {
    background-color: blue;
    height: 120px;
    color: white;
    border-radius: 12px;
}

@media screen and (max-width: 768px){
    .movie {
        margin-bottom: 10px;
    }
}

/*----- movie.html sytling -----*/

.movie-page {
    background-color: blueviolet;
    height: 80vh;
}

/* -- Left Section -- */

.left-section {
    background-color: indianred;
}

.poster-container {
    width: 230px;
    height: 340px;
    background-color: green;
    border-radius: 15px;
    margin: 50px auto;
}

.movie-poster {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

/* -- Right Section -- */

.right-section {
    padding: 60px 50px 0 0;
    background-color: mediumorchid;

}

.movie-attrib {
    font-weight: bold;
}

.movie-times {
    padding-top: 15px;
}

@media screen and (max-width: 992px){
    .left-section {
        height: max-content;
    }
    
    .poster-container {
        margin: 20px auto;
    }

    .right-section {
        height: max-content;
        padding: 0 45px 0 45px;
    }
}

@media screen and (max-width: 768px){
    .left-section {
        height: max-content;
    }

    .poster-container {
        width: 115px;
        height: 170px;
        margin: 20px auto;
    }

    .right-section {
        height: max-content;
        padding: 0 30px 0 30px;
    }
}

/* -- Seats style -- */
.top-section{
    width: 100%;
    height: 30vh;
    background-color: aliceblue;
}

.seat-array{
    width: 500px;
    height: 480px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px;
}

.screen{
    width: 100%;
    background-color: gray;
    font-size: 0.6rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

.seat-row{
    width: 100%;
    height: 75px;
    /* background-color: lightskyblue; */
    margin: 5px 0;
    padding: 0 15px;
    display: flex;
}

.seat{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    text-align: center;
    margin: 0 3px;
    background-image: url(./assets/chair.png);
    background-size: 100% auto;
    border-radius: 30%;
}

.seat-label{
    font-weight: 600;
}

@media screen and (max-width: 768px){
    .top-section{
        height: 20vh;
    }
    
    .seat-array{
        width: 300px;
        height: 300px;
    }

    .screen{
        height: 10px;
        margin-bottom: 20px;
    }
}