body {
    margin: 0;
    background-color: lightslategray;
}

/*--- index.html styling ---*/

.movie-overview {
    background-color: darkcyan;
    height: 80vh;
}

.latest-movie {
    height: 30%;
    background-color: aquamarine;
    padding: 0;
    border-radius: 12px;
}

.movie-list {
    height: 55%;
    background-color: aquamarine;
    overflow-y: scroll;
}

.movie {
    background-color: blue;
    height: 120px;
    color: white;
    border-radius: 12px;
}

@media screen and (max-width: 768px){
    .movie {
        margin-bottom: 10px;
    }
}

/*--- movie.html sytling ---*/
.movie-page {
    background-color: blueviolet;
    height: 80vh;
}